/* About */

.about-column {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 32px;
    transition: opacity 0.5s ease-in;
}

#about-text p {
    font-family: "GothamBook", sans-serif;
    font-size: 16px;
    max-width: 960px;
}

#about-text p img {
    height: 24px;
    display: block;
    margin-bottom: 32px;
}

#about-text p a {
    font-family: "GothamBold", sans-serif;
}

#about-text p a#about-more {
    color: #FFCD00;
}

#about-image img {
    width: 100%;
    max-width: 720px;
}

@media only screen and (max-width: 768px) {
    .about-column {
        width: 100%;
    }
}