/* Import */

@import url("projects.css");
@import url("about.css");

/* Fonts */

@font-face {
   font-family: "GothamBold";
   src: url("../fonts/GothamBold.woff2") format("woff2");
}

@font-face {
   font-family: "GothamBook";
   src: url("../fonts/GothamBook.woff2") format("woff2");
}

/* Set-up */

html {
   visibility: hidden; /* Hack to avoid FOUC */
	background-color: #000;
}

body {
	font-family: "GothamBold", sans-serif;
	font-size: 14px;
	color: #FFF;
	line-height: 0;
   margin: 0;
   -webkit-tap-highlight-color: transparent;
   -webkit-text-size-adjust: none;
   user-select: none;
   overflow-anchor: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 24px;
	margin: 0;
	line-height: 1.25;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;
   list-style-type: none;
}

p {
	margin: 0;
	line-height: 1.5;
   overflow-wrap: break-word;
}

a {
	color: #FFF;
	text-decoration: none;
   transition: color .15s linear;
}

@media (hover: hover) {
   a:hover {
      color: #FFCD00;
   }
}

a:active {
   color: #FFCD00;
}

/* Global */

.clear {
   clear: both;
}

/* Header */

header {
   position: fixed;
   width: 100%;
   height: 160px;
   background-color: #000;
   top: 0;
   z-index: 1;
}

h1 {
   position: absolute;
   top: 32px;
   left: 16px;
   cursor: pointer;
   padding: 16px;
}

h1 img {
   height: 24px;
}

nav {
   position: absolute;
   bottom: 12px;
   left: 20px;
}

nav a {
   padding: 12px;
   font-size: 16px;
   line-height: 1;
   float: left;
}

#burger {
   position: absolute;
   width: 24px;
   top: 16px;
   right: 0;
   padding: 32px;
   padding-bottom: 26px; /* Reduce so even on all sides */
   display: none;
}

#burger span {
   width: 100%;
   height: 4px;
   background-color: #FFF;
   display: block;
   margin-bottom: 6px;
   border-radius: 999px;
}

#clocks {
   position: absolute;
   right: 8px;
   top: 32px;
}

.clock {
   float: left;
   margin-right: 24px;
}

.clock img {
   width: 144px;
   height: 96px;
}

.clockface {
   display: inline-block;
   width: 96px;
   height: 96px;
   margin-right: 12px;
   border-radius: 999px;
   background-image: url(../img/face_day.png);
   background-size: 96px 96px;
   position: relative;
}

.clockface-hour,
.clockface-minute,
.clockface-second {
   width: 0;
   height: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #676767;
   border-radius: 999px;
   transform-origin: 50% 100%;
}

.clockface-hour {
   margin: -2px 0 -2px -25%;
   padding: 2px 0 2px 25%;
   transform-origin: 100% 50%;
}

.clockface-minute {
   margin: -40% -2px 0;
   padding: 40% 2px 0;
}

.clockface-second {
   margin: -40% -1px 0 0;
   padding: 40% 1px 0;
   background-color: #CD0000;
}

.clock p {
   display: inline-block;
   margin-right: 12px;
   font-size: 12px;
   vertical-align: top;
   color: #CB5B9F;
}

#clock-karl p {
   color: #F4702A;
}

.clock p span {
   display: block;
   line-height: 1;
   border-bottom: 1px solid #FFF;
   margin-top: 8px;
   padding-bottom: 4px;
   text-transform: uppercase;
}

.clock p span.clock-date {
   border: none;
   padding: 0;
}

.clock p span.clock-status {
   float: right;
   border: none;
   padding: 0;
   margin: 0;
   width: 8px;
   height: 8px;
   background-color: #C24239;
   border-radius: 999px;
}

header h2 {
   position: absolute;
   display: none;
   width: 320px;
   height: 120px;
   left: 50%;
   margin-left: -160px;
}

header h2 span {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}

@media only screen and (max-width: 1280px) {
   #clocks {
      display: none;
   }
}

@media only screen and (max-width: 768px) {
   header {
      height: 120px;
      z-index: 2;
   }

   header h2 {
      visibility: hidden;
   }

   nav {
      background-color: #FFCD00;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 100%; /* Used instead of display: none to allow transition */
      position: fixed;
      padding-top: 40px;
      box-sizing: border-box;
      padding-left: 24px;
      opacity: 0;
      transition: opacity .25s ease-in;
   }

   nav a {
      color: #000 !important;
      font-family: "GothamBook", sans-serif;
      font-size: 30px;
      display: block;
      width: max-content;
      padding: 8px;
      float: none;
   }

   #burger {
      display: inline;
   }
}

/* Sections */

.section {
   display: none;
   margin-top: 160px;
}

@media only screen and (max-width: 768px) {
   .section {
      margin-top: 120px;
   }
}